@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Jost-SemiBold.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0000-007f, U+0080-00ff;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Jost-SemiBold.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0100-017f, U+0180-024f, U+0250-02af, U+1e??, U+2c60-2c7f,
    U+a720-a7ff, U+ab30-ab6f;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Jost-SemiBold.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+2000-206f, U+2070-209f, U+20a0-20cf, U+2100-214f, U+2150-218f,
    U+2190-21ff, U+22??, U+25a0-25ff, U+2700-27bf;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Jost-Bold.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0000-007f, U+0080-00ff;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Jost-Bold.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0100-017f, U+0180-024f, U+0250-02af, U+1e??, U+2c60-2c7f,
    U+a720-a7ff, U+ab30-ab6f;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Jost-Bold.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+2000-206f, U+2070-209f, U+20a0-20cf, U+2100-214f, U+2150-218f,
    U+2190-21ff, U+22??, U+25a0-25ff, U+2700-27bf;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Jost-Medium.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0000-007f, U+0080-00ff;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Jost-Medium.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0100-017f, U+0180-024f, U+0250-02af, U+1e??, U+2c60-2c7f,
    U+a720-a7ff, U+ab30-ab6f;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Jost-Medium.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0000-007f, U+0080-00ff;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Jost-Medium.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+0100-017f, U+0180-024f, U+0250-02af, U+1e??, U+2c60-2c7f,
    U+a720-a7ff, U+ab30-ab6f;
}
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Jost-Medium.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+2000-206f, U+2070-209f, U+20a0-20cf, U+2100-214f, U+2150-218f,
    U+2190-21ff, U+22??, U+25a0-25ff, U+2700-27bf;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}
code {
  font-family: monospace, monospace;
  font-size: 1em;
}
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}
input::-moz-placeholder {
  color: #a0aec0;
}
input:-ms-input-placeholder {
  color: #a0aec0;
}
input::placeholder {
  color: #a0aec0;
}
h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: inherit;
}
a,
input {
  color: inherit;
}
input {
  padding: 0;
  line-height: inherit;
}
code {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
}
.bg-gray-100 {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}
.bg-gray-250 {
  --bg-opacity: 1;
  background-color: #24262d;
  background-color: rgba(36, 38, 45, var(--bg-opacity));
}
.bg-gray-750 {
  --bg-opacity: 1;
  background-color: #343a40;
  background-color: rgba(52, 58, 64, var(--bg-opacity));
}
.border-gray-700 {
  --border-opacity: 1;
  border-color: #4a5568;
  border-color: rgba(74, 85, 104, var(--border-opacity));
}
.rounded-2xl {
  border-radius: 1rem;
}
.border-4 {
  border-width: 4px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-b-4 {
  border-bottom-width: 4px;
}
.border-b-8 {
  border-bottom-width: 8px;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-baseline {
  align-items: baseline;
}
.justify-between {
  justify-content: space-between;
}
.flex-grow {
  flex-grow: 1;
}
.font-jost {
  font-family: Jost, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.text-lg {
  font-size: 1.125rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-3xl {
  font-size: 1.85rem;
}
.text-5xl {
  font-size: 2.65rem;
}
.text-sm2 {
  font-size: 0.69rem;
}
.text-md {
  font-size: 1.0625rem;
}
.leading-none {
  line-height: 1;
}
.leading-normal {
  line-height: 1.34;
}
.leading-relaxed {
  line-height: 1.625;
}
.leading-snugish {
  line-height: 1.25;
}
.list-inside {
  list-style-position: inside;
}
.m-0 {
  margin: 0;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mr-8 {
  margin-right: 2rem;
}
.mr-1\.6 {
  margin-right: 0.4375rem;
}
.mt-2\.1 {
  margin-top: 0.5625rem;
}
.-mb-1 {
  margin-bottom: -0.25rem;
}
.-mr-1\.6 {
  margin-right: -0.4375rem;
}
.first\:mt-0:first-child {
  margin-top: 0;
}
.max-w-3xl {
  max-width: 48rem;
}
.p-3 {
  padding: 0.75rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-2\.5 {
  padding-left: 10px;
  padding-right: 10px;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.last\:pb-1:last-child {
  padding-bottom: 0.25rem;
}
.text-center {
  text-align: center;
}
.text-black {
  --text-opacity: 1;
  color: #24262d;
  color: rgba(36, 38, 45, var(--text-opacity));
}
.text-gray-200 {
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
}
.text-gray-550 {
  --text-opacity: 1;
  color: #8b9cbe;
  color: rgba(139, 156, 190, var(--text-opacity));
}
.text-gray-650 {
  --text-opacity: 1;
  color: #555e70;
  color: rgba(85, 94, 112, var(--text-opacity));
}
.text-gray-700 {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}
.text-gray-750 {
  --text-opacity: 1;
  color: #343a40;
  color: rgba(52, 58, 64, var(--text-opacity));
}
.group:hover .group-hover\:text-gray-700,
.hover\:text-gray-700:hover {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.align-top {
  vertical-align: top;
}
.w-full {
  width: 100%;
}
.col-gap-16 {
  grid-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
}
.transform {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}
.-translate-y-px {
  --transform-translate-y: -1px;
}
.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.duration-100 {
  transition-duration: 0.1s;
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.hyphens-manual {
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
.break-inside-avoid {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.col-fill-balance {
  -moz-column-fill: balance;
  column-fill: balance;
}
@media print {
  @page {
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    color: #3c3f4c !important;
  }
  .page {
    padding: 4rem !important;
    height: 100vh !important;
  }
  .initial {
    color: transparent !important;
    text-shadow: 0 0 0 #fff !important;
  }
  h1,
  h2,
  h3,
  li,
  p {
    color: #343a40 !important;
  }
  html {
    font-size: 11px !important;
  }
}
html {
  font-size: 11px;
  background-color: #e9efff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='60' height='60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%239C92AC' fill-opacity='.4' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}
@media (min-width: 640px) {
  html {
    font-size: calc(-5.58031px + 2.59067vw);
  }
}
@media (min-width: 833px) {
  html {
    font-size: calc(-5.89655px + 2.0284vw) !important;
  }
}
@media (min-width: 1079.5px) {
  html {
    font-size: 11px;
  }
}
i:hover {
  color: #3c3f4c !important;
}
@media print {
  .print\:bg-black {
    --bg-opacity: 1;
    background-color: #24262d;
    background-color: rgba(36, 38, 45, var(--bg-opacity));
  }
  .print\:bg-white {
    --bg-opacity: 1;
    background-color: #fdfdfd;
    background-color: rgba(253, 253, 253, var(--bg-opacity));
  }
  .print\:border-0 {
    border-width: 0;
  }
  .print\:font-normal {
    font-weight: 400;
  }
  .print\:h-letter-col-full {
    height: 77.9375rem;
  }
  .print\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .print\:max-w-letter {
    max-width: 72rem;
  }
  .print\:text-black {
    --text-opacity: 1;
    color: #24262d;
    color: rgba(36, 38, 45, var(--text-opacity));
  }
  .print\:border-inset {
    box-shadow: inset 0 0 0 1px #cbd5e0;
  }
  .print\:col-count-2 {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 500px) {
  .xsm\:p-8 {
    padding: 2rem;
  }
}
@media (min-width: 833px) {
  .md\:h-letter {
    height: 86.9375rem;
  }
  .md\:h-letter-col-full {
    height: 77.9375rem;
  }
  .md\:max-w-letter {
    max-width: 72rem;
  }
  .md\:p-16 {
    padding: 4rem;
  }
  .md\:col-count-2 {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 1079.5px) {
  .lg\:h-letter {
    height: 86.9375rem;
  }
  .lg\:mt-6 {
    margin-top: 1.5rem;
  }
}
