/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Jost-SemiBold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Jost-SemiBold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-017F, U+0180-024F, U+0250-02AF, U+1E00-1EFF, U+2C60-2C7F,
    U+A720-A7FF, U+AB30-AB6F;
}

/* shared */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Jost-SemiBold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F,
    U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2700-27BF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Jost-Bold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Jost-Bold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-017F, U+0180-024F, U+0250-02AF, U+1E00-1EFF, U+2C60-2C7F,
    U+A720-A7FF, U+AB30-AB6F;
}

/* shared */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Jost-Bold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F,
    U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2700-27BF;
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Jost-Medium.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Jost-Medium.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-017F, U+0180-024F, U+0250-02AF, U+1E00-1EFF, U+2C60-2C7F,
    U+A720-A7FF, U+AB30-AB6F;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Jost-Medium.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Jost-Medium.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-017F, U+0180-024F, U+0250-02AF, U+1E00-1EFF, U+2C60-2C7F,
    U+A720-A7FF, U+AB30-AB6F;
}
/* shared */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Jost-Medium.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F,
    U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2700-27BF;
}
